.header{
    font-size: x-large;
}

link.hover{
    transition: all 30ms ease-in-out;
    font-size: 16px;
}

link.hover{
    transition: all 30ms ease-in-out;
    font-size: 48px;
    cursor: pointer;
    
}