  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  
  .container{
    width: 1500px;
    height:900px;
    position:relative;
   }

   .box{
    position: absolute;
   }

   .box#books{
    width: 400px;
    height: 400px;

    top: 20px;
    right: 90px;
   }

   .box#books:hover{
   transform: scale(1.3);
   transition: transform 1s ease-in-out;
   transition-delay: 0.1s;
   }

     .box#podcasts{
    width: 400px;
    height: 400px;

    top: 20px;
    left: 70px;
   }

    .box#podcasts:hover{
   transform: scale(1.3);
   transition: transform 1s ease-in-out;
   transition-delay: 0.1s;
   }

     .box#people{
    width: 400px;
    height: 400px;

    top: 350px;
    right: 70px;
   }

    .box#people:hover{
   transform: scale(1.3);
   transition: transform 1s ease-in-out;
   transition-delay: 0.1s;
   }

     .box#music{
    width: 400px;
    height: 400px;

    top: 450px;
    left: 550px;
   }

    .box#music:hover{
   transform: scale(1.3);
   transition: transform 1s ease-in-out;
   transition-delay: 0.1s;
   }

     .box#random{
    width: 400px;
    height: 400px;

    top: 350px;
    left: 90px;
   }

    .box#random:hover{
   transform: scale(1.3);
   transition: transform 1s ease-in-out;
   transition-delay: 0.1s;
   }

     .box#indexes-of-me{
    width: 900px;
    height: 500px;

    top: 100px;
    left: 300px;
   }