.info-image-wrapper {
  position: relative;
  width: 100%;
  min-height: 500px;
}
*{box-sizing: border-box;
     padding: 0px; 
     margin: 0px;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.woff2') format('woff2'),
       url('/fonts/Geist-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face { font-family: happy times; src: url('happy-times-NG_regular_master.otf') format('otf'),
} 
@font-face { font-family: happy times; font-weight:regular; src: url('happy-times-NG_regular_master.otf') format('otf'),
}

body {
  font-family: 'Geist', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  padding-top: 50px;
  color: #0B7A75;
}

h1 {
    letter-spacing: -0.8px;
    font-size: 200pt;
    font-family: 'Geist';
    margin-left: 75px;
     margin-top: -50px;
     color: #0c9f97;
    
}

h3 { 
  font-family: 'Geist';
  letter-spacing: -0.5px;  
  font-size: 25pt;
  font-weight: 400;
  color: #0c9f97;
}

p {
    letter-spacing: -0.7px;
    font-size: 20pt;
    font-weight: 100;
    color: #0B7A75;
    line-height: 20pt;
}

.container {
  display: flex; /* Makes the container a flex container */
  margin-top: -50px;
  gap: 20px; /* Adds a 20px gap between columns */
  margin-left: 80px;
  margin-right: 0px;
  position: relative;
}

.column {
  flex: 1; 
  padding: 15px;
  line-height: 25pt;

}
.column1 {
  padding: 15px;
margin-right: 15px;
margin-left: 90px;
line-height: 25pt;
}

.column2 {
  padding: 15px;
margin-right: 100px;
line-height: 25pt;
}

.how{
    padding: 15px;
    margin-left: 80px;
    margin-top: 0295px;
    color: #0B7A75;
    line-height: 20pt;
    position:relative
}

.highlight {
    font-weight: 300;
    padding-right: 5px;
  color: #0c9f97;
}


.header {
font-family: 'Geist';
font: size 200pt; ;
letter-spacing: -0.8px;
margin-left: 75px;
margin-top: -50px;
color: #8aeae5;
}

.mompic
{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: auto;
  opacity: 0.5;
  pointer-events: none;

}