*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sitetitle{
    display: flex;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
}



.heading
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    text-align: left;
    letter-spacing: -3pt;
      color: midnightblue;
}


.sub1 {
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 20pt;
  text-align: left;
  line-height: 25pt;
  letter-spacing: -1pt;
  margin-left: 60px;
  margin-top: 50px;
  color: midnightblue;
}

.sub2 {
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 18pt;
  line-height: 22pt;
  letter-spacing: -0.5pt;
  text-align: left;
  margin-top: 50px;
  color: midnightblue;
  margin-right: -50px;
}

.images{
    display: flex;
    gap: 20px; 
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    
}
.image-container{
    display: flex;
    gap: 20px; 
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: -150px;
    z-index: 2;
    position: relative;
    opacity: 1;
}

.baby{
    width: 250px;
    height: auto;
    opacity: 1;

}

.hiddenback{
    width: 260px;
    height: auto;
    position: absolute;
    opacity: 0;
    z-index: 1;
    opacity: 0;
    transition:
    opacity 1.2s cubic-bezier(0.65, 0, 0.35, 1),
    transform 1.2s cubic-bezier(0.65, 0, 0.35, 1);
    top: 50%;
    left: 50%;
 
}


.image-container:hover .hiddenback {
  opacity: 0;
}

.image-container:hover .hiddenback {
  opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}



.descript{
 display: flex;
    gap: 48px; 
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    letter-spacing: -0.5pt;
    line-height: 12pt;
    max-width: 250px;
    color: midnightblue;
    border-radius: 10%;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
    font-weight: 600;
    letter-spacing: -0.5pt;
    line-height: 11pt;
    font-style: italic;
    color: midnightblue;
}